APP_NAME=BookShelf API
ENVIRONMENT=dev | release | prod
DB_HOST=server host
DB_PORT=5432
DB_USERNAME=user admin
DB_PASSWORD=user password
DB_NAME=database Name
LOG_LEVEL=INFO
CORS_ALLOWED_ORIGINS=http://localhost:3000
JWT_SECRET_KEY=change-me-to-a-long-random-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=60
